// Log In Components
.log-in-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.log-in-card {
	width: 500px;
}
// Header
.log-in-head {
	width: 100%;
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	color: #164a41;
	margin: 30px 0;
	// margin-top: px;
}

// Google Button Component
.google-button-wrapper {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px auto 5px auto;
	background: #3578e7;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5px;
	border: none;
	width: 80%;
	height: 40px;
	.google-button {
		background: #fafafa;
		margin-left: 5px;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		img {
			width: 70%;
			height: 70%;
		}
	}

	p {
		width: 86%;
		text-align: center;
		font-size: 25px;
		font-weight: lighter;
		color: white;
	}
}
.or-wrapper {
	width: 80%;
	margin: auto;
	border-bottom: 1px solid #4a4a4a;
	display: flex;
	justify-content: center;
	p {
		background: #fafafa;
		font-size: 18px;
		padding: 0 0.5em;
		transform: translateY(40%);
	}
}
.input-container {
	width: 80%;
	margin: auto;
}
// Sign Up Stage 1 Components
.button-switch-container {
	margin: 15px auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	.button-switch {
		font-size: 18px;
		margin: 0 5px;
		border-radius: 5px;
		border: 2px solid #164a41;
		color: #164a41;
		font-weight: bold;
		background: #fafafa;
		padding: 5px 0;
		width: 150px;
		cursor: pointer;
	}
	.selected-btn {
		background: #164a41;
		color: white;
	}
}

.log-in-text {
	display: block;
	width: 80%;
	margin: 25px auto;
	color: #4a4a4a;
	font-size: 18px;
	label {
		font-weight: bold;
		color: #164a41;
	}
}

.switch-message {
	text-align: center;
	display: block;
	width: 80%;
	font-size: 18px;
	letter-spacing: 2px;

	margin: auto auto 1.5em auto;
	label {
		font-weight: normal;
		color: #1149a3;
		cursor: pointer;
	}
}
