.expert-content-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start !important;
	justify-content: space-between !important;
	height: 85vh !important;
	padding: 0 50px;
}
.navbar-count {
	font-weight: lighter;
	color: white;
	background: #164a41;
	padding: 0 10px;
	border-radius: 3px;
	label {
		margin: 0 10px;
		font-weight: normal;
		background: #164a41;
	}
}
.expert-status {
	display: flex;
	flex-direction: row;
	margin: 20px 0 !important;
	padding: 0 50px;
	h1 {
		display: inline;
		font-weight: lighter;
		border: 0.5px solid #999;
		border-radius: 3px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		padding: 7.5px 15px;
		label {
			color: #164a41;
			font-weight: normal;
			margin-left: 15px;
		}
	}
	.reverse-btn {
		margin-left: 20px;
		color: white;
		border: 1px solid #164a41;
		background: #164a41;
		font-size: 30px;
		padding: 0.25em 1.5em;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		&:hover {
			transform: scale(1.05);
			transition: 300ms;
		}
	}
}
.requests-container {
	width: 30%;
	overflow-y: scroll;
	height: 90%;
	border: 0.5px solid #999;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
