.stage-count-wrapper {
	margin: 1em auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	.stage {
		margin: 0 15px;
		width: 25px;
		height: 25px;
		background: #cacaca;
		border: none;
		border-radius: 50%;
	}
	.passive-stage:hover {
		border: 0.5px solid #164a41;
	}
	.active-stage {
		background: #164a41;
	}
}
