.expert-list-wrapper {
	height: 95%;
	width: 40%;
	overflow-y: scroll;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border: 1px solid #9a9a9a;
	// Will copy this to another component

	.expert-list-header {
		border-bottom: 1px solid #4a4a4a;
		text-align: center;
		font-weight: lighter;
		padding: 5px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
			rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
			rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
	}

	.expert-container {
		width: 99%;
		display: flex;
		align-items: center;
		margin: 10px auto;
		flex-direction: row;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		height: 150px;
		border: 1px solid #9a9a9a;
		border-radius: 3px;
		background: #f1f1f1;
		img {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 5px;
			width: 140px;
			height: 140px;
			border-radius: 100%;
		}
		.image-placeholder {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 5px;
			width: 140px;
			height: 140px;
			border-radius: 100%;
			background: #164a41;
			h1 {
				font-weight: normal;
				font-size: 40px;
				color: white;
				letter-spacing: 5px;
			}
		}
		.expert-content {
			flex: 1;
			height: 150px;
			padding: 5px 10px;
			padding-right: 0;
			.main-info {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				h1:last-of-type {
					color: #164a41;
					margin-right: 10px;
				}
			}
			p {
				font-size: 24px;
			}
			.button-container {
				button:first-child {
					&:hover {
						transform: scale(1.05);
						transition: 300ms;
					}
				}
				h1 {
					border-radius: 3px;
				}
				.declined-req {
					border: 2px solid #b61729;
					background: #f0b4bb;

					p {
						font-size: 24px;
						color: #b61729;
						&:last-of-type {
							font-weight: normal;
						}
					}
				}
				.accepted-req {
					border: 2px solid #3166da;
					background: #b7caf1;

					p {
						font-size: 24px;
						color: #3166da;
						&:last-of-type {
							font-weight: normal;
						}
					}
				}
				.waiting-req {
					border: 2px solid #b7b938;
					background: #dce77b;
					flex: 1;
					p {
						font-size: 24px;
						color: #6d6e28;
						&:last-of-type {
							display: block;
							font-weight: normal;
						}
					}
				}

				button {
					cursor: pointer;
					margin: 0 10px;
					margin-left: auto;
					background: #164a41;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					border: 1px solid #164a41;
					border-radius: 5px;
					width: 150px;
					height: 45px;
					img {
						width: 20px;
						height: 20px;
						margin-right: 5px;
					}
					p {
						margin-left: 5px;
						font-size: 20px;
						font-weight: bold;
						color: white;
					}
				}
			}
		}
	}
}
