.expert-list-wrapper {
	height: 95%;
	width: 550px;
	overflow-y: scroll;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border: 1px solid #9a9a9a;
	// Will copy this to another component

	.expert-list-header {
		font-size: 26px;
		text-align: center;
		font-weight: normal;
		padding: 5px;
		border-bottom: 1px solid #9a9a9a;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
			rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
			rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
	}

	.expert-container {
		width: 99%;
		display: flex;
		align-items: center;
		margin: 10px auto;
		flex-direction: row;

		height: 150px;
		border: 1px solid #9a9a9a;
		border-radius: 3px;
		background: #f1f1f1;
		img {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 5px;
			width: 140px;
			height: 140px;
			border-radius: 5px;
			object-fit: cover;
			border: 1px solid #9a9a9a;
		}
		.image-placeholder {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 5px;
			width: 140px;
			height: 140px;
			border-radius: 5px;
			background: #164a41;
			h1 {
				font-weight: normal;
				font-size: 40px;
				color: white;
				letter-spacing: 5px;
			}
		}
		.expert-content {
			flex: 1;
			height: 150px;
			padding: 5px 10px;
			padding-right: 0;
			.name-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin: 0;
				padding: 0;
				.name-h1 {
					font-size: 18px;
					font-weight: normal;
				}
				.status-container {
					margin-right: 10px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					.status-circle {
						width: 16px;
						height: 16px;
						border-radius: 50%;
						margin-right: 5px;
					}
					p {
						font-size: 16px;
						font-weight: normal;
					}
				}
				.connect-button {
					cursor: pointer;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					background: #164a41;
					border: none;
					margin-right: 10px;
					padding: 2.5px 7.5px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
						rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
						rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
					border-radius: 3px;
					img {
						border: none;
						background: none;
						width: 16px;
						height: 16px;
					}
					P {
						color: white;
						margin-left: 2px;
						font-size: 18px;
					}
					&:hover {
						transition: 300ms;
						background: #085028;
					}
				}
			}
			.primary-info {
				margin-top: 3px;
				width: 80%;
				h2 {
					color: #4a4a4a;
					font-weight: normal;
					font-size: 16px;
				}
			}
			.secondary-info {
				margin-top: 3px;

				width: 80%;
				p {
					color: #6a6a6a;
					font-size: 14px;
				}
			}
		}
	}
}
.busy-status {
	div {
		background-color: #ca7604;
	}
	p {
		color: #ca7604;
	}
}
.accepted-status {
	div {
		background-color: #25617a;
	}
	p {
		color: #25617a;
	}
}
.declined-status {
	div {
		background-color: #cd1400;
	}
	p {
		color: #cd1400;
	}
}
.green {
	color: #164a41;
	font-weight: normal;
}
